.Partners {
  text-align: center;
  font-weight: 400;
  font-size: 1.25rem;
  color: #5A5A5A;
  padding: 2.5rem 0 5rem 0;
  margin: 0 9rem 0 9rem;
}

.Partners-logo {
  display: grid;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 2rem;
  justify-items: center;
  margin-top: 2rem;
}

.Logo {
  height: 3.5rem;
}

@media only screen and (min-width: 360px) and (max-width: 1040px) {
  .Partners {
    font-size: 0.75rem;
    margin: 0 auto;
    padding: 2.5rem 0 2.5rem 0;
  }
  .Partners-logo {
    width: 360px;
    grid-gap: 0;
    margin: 0.75rem auto;
    padding: 0 1rem 0 1rem;
  }
  .Logo {
    height: 1.25rem;
  }
}